<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enter coordinates below</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>fun.tweaks.locationfaker</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>fun.tweaks.locationfaker</string>
			<key>key</key>
			<string>Latitude</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>label</key>
			<string>Latitude</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>fun.tweaks.locationfaker</string>
			<key>key</key>
			<string>Longitude</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>label</key>
			<string>Longitude</string>
		</dict>
		<dict>
			<key>action</key>
			<string>applyButton</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>defaults</key>
			<string>fun.tweaks.locationfaker</string>
			<key>label</key>
			<string>Apply</string>
		</dict>
	</array>
	<key>title</key>
	<string>LocationFaker</string>
</dict>
</plist>
